h1 {
	background-color: white;
	background-image: url(peomlbimage.jpg);
	background-repeat: no-repeat;
	color: red;
	text-align: center;
}
h2 {
	text-align: left;
	margin-left: 10px;
	text-decoration: underline;
	color: red;
	}
p {
	text-align: left;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 24px;
}
span {
	text-align: left;
	margin-left: 80px;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 18px;
	font-style: italic;
}
li {
	margin-left: 50px;
	font-size: 24px;
}
ul {
	margin-left: 110px;
	font-size: 16px;
}
.Objective .Objective{
	font-family: 'Playfair Display', serif;
	font-size: large;
}
.homepage {
  background-color: #f1f1f1;
  color: black;
  font-weight: bold;
}
h3 {
	background-color: blue;
	color: white;
}
a {
	font-size: 16px;
	font-weight: bold;
}
